# ---------------------------------------------------------------------
#  Character encodings                                                |
# ---------------------------------------------------------------------
AddDefaultCharset utf-8

# ---------------------------------------------------------------------
#  Expires                                                            |
# ---------------------------------------------------------------------
<ifmodule mod_expires.c="">    
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</ifmodule>
